
//fonts
$font-bold: 'Montserrat-Bold';
$font-regular: 'Montserrat-Regular';


//medias Q
$mobile: 767px;
$tabletW: 900px;
$tablet: 1024px;
$netbook: 1199px;
$notebook: 1480px;
$monitor: 1820px;
$full: 1480px;

//medias H
$hMax750: "screen and (max-height: 750px)";